/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Custom classes

.row{
    display: flex;
}

.toast-container .ngx-toastr{
  margin-top: 60px !important;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.spacer {
    flex: 1 1 auto;
  }

  .container{
    padding:10px 20px;
}

.formfield{
  display: flex;
  flex-direction: column;
  max-width: 20%;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}